/*  your css code here. If applicable */
#main{
	height:400px;
	width:400px;
	align-items:center;
	display:flex;
	justify-content:space-evenly;
}

#box{
	background-color:lightblue;
	border:2px solid black;
	height:200px;
	width:200px;
	display:flex;
	justify-content:center;
	align-items:center;
	
}